# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=passDblocal
DB_NAME=grpc_product

# Server Configuration
HTTP_PORT=8080
GRPC_PORT=50051
GRPC_HOST=localhost

# Development Environment
GO_ENV=development